[project]
name = "{{project_name}}"
version = "0.1.0"
description = "{{ project_description }}"
license = { text = "MIT" }
readme = "README.md"
authors = [
    { name = "{{author}}", email = "{{email}}" },
]
requires-python = ">=3.9"
dependencies = []

[dependency-groups]
lint = [
    "ruff >= 0.11",
]
type = ["mypy >= 1.15"]
test = ["pytest >= 8.3", "coverage >= 7.7", "pytest-cov ~= 6.0"]
doc = [
    "mkdocs == 1.4.3",
    "mkdocs-material == 8.5.11",
    "mkdocstrings[python] == 0.19.1",
]
dev = [
    {include-group = "lint"},
    {include-group = "type"},
    {include-group = "test"},
    {include-group = "doc"},
    "pre-commit >= 4.2",
    "ipykernel >= 6.29",
]

[tool.setuptools.packages.find]
where = ["src"]
exclude = ["material"]

[tool.ruff]
line-length = 100
extend-include = ["*.ipynb"]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "W", "F", "B", "D", "I", "S"]
ignore = ["D203", "D213", "S101"]
unfixable = ["B", "S"]
pydocstyle.convention = "google"

[tool.mypy]
ignore_missing_imports = true

[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"